.cards{
    display: grid;
      grid-template-columns:repeat(3, 1fr);
    grid-template-rows:repeat(2, 1fr);
}
body{
    background-color: #501aae;
}
img {
    width: 550px;
    height: 550px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #fa0e0e;
    padding: 100px;
}
.text{
    font-size: 40px;
}